<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('css/sticky-footer.css') }}">
    {% endblock %}
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <a class="navbar-brand" href="/">
        <img src="{{ asset('img/sf.png') }}" alt="SF Logo"
             width="80"> Symfony BalticAmadeus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="my_btn nav-link" href="{{ path('sharing') }}">
                        Sharing Center
                        {% if newReceived(app.user.id) > 0 %}<sup
                                class="bg-danger text-white p-1">{{ newReceived(app.user.id) }}</sup>{% endif %}
                    </a>
                </li>
                <li>
                </li>
                <li class="nav-item">
                    <a class="my_btn nav-link" href="{{ path('contacts_index') }}">Phonebook</a>
                </li>
                <li class="nav-item">
                    <a class="my_btn nav-link" href="{{ path('app_user_settings') }}">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="my_btn nav-link" href="{{ path('app_logout') }}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="my_btn nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="my_btn nav-link" href="{{ path('app_register') }}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<body>
{% block body %}

{% endblock %}
<footer class="footer bg-dark">
    <div class="container-fluid text-right">
        {% block footer %}
        <span class="text-white">© Tomas Jucius (jucius.tomas@gmail.com) 2020</span>
        {% endblock %}
    </div>
</footer>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>

